*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
:root {
  --primary-color: #1a1a40;
  --light-color: #ed6663;
  --secondary-color: #f6e3c5;
  --grey-secondary-color: #999;
}
.container-fluid {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.headding {
  font-size: 40px;
  padding-top: 100px;
  text-align: center;
  color: var(--primary-color);
}
.product-left {
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid var(--grey-secondary-color);
  padding: 10px;
}
.product-main {
  display: flex;
  width: calc(100% - 250px);
  width: 100%;
  gap: 10px;
}
.nav-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nav-category {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nav-category-list {
  display: flex;
  gap: 20px;
  color: var(--grey-secondary-color);
}
.nav-category-list input {
  width: 18px;
  border: none;
  outline: none;
  background: transparent;
  padding: 5px 10px;
  border-radius: 4px;
}
.nav-category-list a {
  color: var(--primary-color);
  text-decoration: none;
}
.price {
  display: flex;
  gap: 20px;
  color: var(--grey-secondary-color);
}
.price input {
  width: 18px;
  border: none;
  outline: none;
  background: transparent;
  padding: 5px 10px;
  border-radius: 4px;
}
.sex {
  display: flex;
  gap: 20px;
  color: var(--grey-secondary-color);
}

.sex input {
  width: 18px;
  border: none;
  outline: none;
  background: transparent;
  padding: 5px 10px;
  border-radius: 4px;
}
.product .nav-top-title {
  font-size: 25px;
}
.nav-top input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--grey-secondary-color);
  padding: 0 10px;
}
.product-right {
  flex-direction: column;
  width: 100%;
}
.select-right {
  text-align: end;
}
.select-right {
  font-family: "Josefin Sans", sans-serif;
}
.select-right select {
  border: none;
  border: 1px solid var(--grey-secondary-color);
  padding: 5px 10px;
}
.select-right option {
  border: none;
}
.card-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
}
.card-item {
  width: calc(100% / 3 - 10px);
  height: 450px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-content {
  padding: 10px 0;
  display: 1;
  max-width: 280px;
  flex-direction: column;
  margin-top: auto;
  word-break: break-all;
  overflow: hidden;
}
.card-content .card-title {
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-desc {
  height: 50px;
  overflow: hidden;
  word-break: break-word;
}
.card-content .card-title a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 20px;
}
.card-action {
  /* display: flex;
  justify-content: space-between;
  margin: 10px 0; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card-action-link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.card-action a {
  padding: 8px 15px;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid var(--grey-secondary-color);
  border-radius: 5px;
  transition: all 0.2s linear;
}
.card-action button {
  width: 100%;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.2s linear;
  border: none;
  outline: none;
}
.card-action a:hover {
  background-color: var(--primary-color);
  color: white;
  border: none;
}
.card-price span {
  font-size: 20px;
  font-weight: bold;
  color: var(--light-color);
}
.card-image {
  width: 200px;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pagi {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
.pagi a {
  color: white;
  text-decoration: none;
}
.pagi li {
  list-style: none;
}
.pagi-item {
  border: 1px solid var(--primary-color);
  display: flex;
  padding: 5px 10px;
  background-color: var(--primary-color);
  align-items: center;
  margin: 0 10px;
  color: white;
  cursor: pointer;
  transition: all 0.2s linear;
}

/* .pagi-item.is-disabled {
  opacity: 0.5;
  cursor: not-allowed;
} */

.pagi-item:hover,
.pagi-item.is-active {
  color: var(--light-color);
}
